<div class="container-lg">
  <section class="content-header">
    <h1>Home</h1>
    <hr>
  </section>

  <section class="content">
    <form class="row g-3">
      <div class="col-md-6">
        <input type="text" class="form-control" id="movie-name" placeholder="Movie Name">
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </section>
</div>
